.section-one {
  position: relative;
  min-height: 600px;
  display: flex;
  justify-content: center;
  .left {
    width: 100%;
    position: absolute;
    z-index: 2;
    left: 0;
    p {
      width: 100%;
      text-align: center;
    }
  }
  .right {
    width: 30%;
    position: absolute;
    z-index: 2;
    left: 70%;
    img {
      height: 200px;
      width: 200px;
    }
  }
}

.particles {
  position: absolute;
  top: 0;
  left: 0;
  height: 400px !important;
  width: 100% !important;
}