.program-container {
  display: grid;
  grid-template-columns: 80%;
  grid-gap: 30px;
  grid-auto-rows: minmax(500px, auto);
  justify-content: center;
}

.fcc {
  display: grid;
  grid-template-columns: 41% 41%;
  grid-gap: 50px;
  grid-auto-rows: 400px;
  grid-auto-columns: minmax(200px, 300px);
  justify-content: center;
}

.fcc-container {
  >* {
    text-align: center;
  }
  h1 {
    font-size: 2em;
  }
  h4 {
    font-size: 1.5em;
  }
  p {
    text-align: center;
  }
}

.program-container,
.fcc-container {
  a {
    color: black;
    p {
      text-align: center;
    }
  }
}