.posts {
  padding: 50px 0;
}

.posts-content {
  display: grid;
  grid-template-columns: 65% 20%;
  justify-items: center;
  grid-column-gap: 5%;
  padding: 20px 5%;
  .left>p::first-letter {
    font-size: 3em;
  }
}

// .posts {
//   height: 320px;
//   width: 100%;
//   background: rgb(0, 174, 255);
//   padding: 100px 40px 100px 40px;
//   h1 {
//     color: white;
//   }
//   p {
//     text-align: center;
//     padding: 25px;
//     color: white;
//   }
// }